#leftPane {
    -fx-background-color:linear-gradient(to bottom, #707070, #505050);
}
#infoPane {
    -fx-background-color:linear-gradient(to bottom, #909090, #707070);
    -fx-background-radius: 10;
    -fx-border-color: #c6c6c6;
    -fx-border-radius: 10;
}
#mainLabel {
    -fx-font-family: 'Lato';
    -fx-font-size: 36px;
    -fx-text-fill: white;
}
.textField {
    -fx-background-radius: 10;
    -fx-border-color: #c6c6c6;
    -fx-border-radius: 10;
    -fx-font-family: 'Lato';
    -fx-font-size: 14px;
}
.textField:focused {
    -fx-border-color: #8cd9f5;
}
.infoField {
    -fx-text-fill:white;
    -fx-font-family: 'Lato';
    -fx-font-size: 18px;
}
.resetButton {
    -fx-background-color:  linear-gradient(to bottom, #fdfdfd, #c0c0c0);
    -fx-background-radius: 8;
    -fx-border-color: transparent;

}
.resetButton:hover {
    -fx-background-color:  linear-gradient(to bottom, #c0c0c0, #fdfdfd);
}

.table-view{
    -fx-background-radius: 8px;
}
.table-column{
    -fx-background-radius: 8px;
}
.column-header-background {
-fx-background-radius: 8px;
}

#personLabel {
    -fx-font-family: 'Lato';
        -fx-font-size: 40px;
        -fx-text-fill: #505050;
}