#mainPane {
    -fx-background-color:  linear-gradient(to bottom, #fdfdfd, #c0c0c0);
}
#mainTopLabel {
    /*-fx-background-color: #e3e3e1;
    -fx-text-fill: #000000;
    -fx-border-color: #3e3e3e;*/
    
    -fx-background-color:linear-gradient(to bottom, #707070, #505050);
    -fx-text-fill: white;

    -fx-font-family: 'Lato';
    -fx-font-size: 40px;
    
}
#exitButton {
    -fx-background-color:  linear-gradient(to bottom, #fdfdfd, #c0c0c0);
    -fx-background-radius: 8;
    -fx-border-color: transparent;

}
#exitButton:hover {
    -fx-background-color:  linear-gradient(to bottom, #c0c0c0, #fdfdfd);
}
#mainCenterPane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 7;
    -fx-border-color: #ffffff;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    
}
#mainCenterLabel {
    -fx-background-color: linear-gradient(to bottom, #707070, #505050);
    -fx-background-radius: 5;
    -fx-font-family: 'Lato';
    -fx-font-size: 40px;
    -fx-text-fill: white;
}
.textField {
    -fx-background-radius: 10;
    -fx-border-color: #c6c6c6;
    -fx-border-radius: 10;
    -fx-font-family: 'Lato';
    -fx-font-size: 14px;
}
.textField:focused {
    -fx-border-color: #8cd9f5;
}
#errorLabel {
    -fx-font-family: 'Lato';
    -fx-font-size: 18px;
    -fx-text-fill: #f21313;
    -fx-font-weight: bold;
}
#loginButton {
    -fx-background-color: linear-gradient(to bottom, #707070, #505050);
    -fx-background-radius: 20;
    -fx-font-family: 'Lato';
    -fx-font-size: 20px;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 18;
}
#loginButton:hover {
    -fx-background-color: linear-gradient(to bottom, #505050, #707070);
    -fx-font-family: 'Lato';
    -fx-font-size: 22px;
}
#loginButton:focused {
    -fx-border-color: #8cd9f5;
    -fx-font-family: 'Lato';
}
.toggleButton {
    -fx-background-color: linear-gradient(to bottom, #707070, #505050);
    -fx-background-radius: 8;
}
.toggleButton:hover {
    -fx-background-color: linear-gradient(to bottom, #505050, #707070);
}
