#mainPane {
    -fx-background-color:  linear-gradient(to bottom, #fdfdfd, #c0c0c0);
}
#topGridPane {
    -fx-background-color:   linear-gradient(to bottom, #707070, #505050);
    
}
#topLogoutLabel {
    /*-fx-background-color:   linear-gradient(to bottom, #505050, #707070);
    -fx-background-radius: 8;
    -fx-border-color: #fff;
    -fx-border-radius: 8;
    */
    -fx-font-family: 'Lato';
    -fx-font-size: 18px;
    -fx-text-fill: white;
    
}
#logoutButton {
    -fx-background-color:  linear-gradient(to bottom, #fdfdfd, #c0c0c0);
    -fx-background-radius: 8;
    -fx-border-color: transparent;

}
#logoutButton:hover {
    -fx-background-color:  linear-gradient(to bottom, #c0c0c0,#fdfdfd);
}